body {
    display: flex;
    justify-content: center;
}

/* 
 * This is the first child
 */
#pointer:nth-child(1) {
    width: 200px;
    height: 140px;
    position: relative;
    background: red;
    float: left;
}

#pointer:nth-child(1)::after {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid red;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

/* 
 * Second and third child
 */
 #pointer:nth-child(2) {
    width: 200px;
    height: 140px;
    position: relative;
    background: blue;
    float: left;
    padding-left: 20px;
}

#pointer:nth-child(2)::before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid blue;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

#pointer:nth-child(2):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid red;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

#pointer:nth-child(3) {
    width: 200px;
    height: 140px;
    position: relative;
    background: green;
    float: left;
    padding-left: 20px;
}

#pointer:nth-child(3)::before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid green;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

#pointer:nth-child(3):after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid blue;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

/* 
 * The last child
 */
 #pointer:last-child {
    width: 200px;
    height: 140px;
    position: relative;
    background: yellow;
    float: left;
    padding-left: 20px;
}

#pointer:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid green;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

#pointer:last-child p {
    color: black;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;
}

/* 
 * This for the most of the of the page
 */
p {
    color: white;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 30px;
}