.table-scroll {
	position:relative;
	max-width: 90vw;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
/* .table-scroll thead, .table-scroll tfoot {
	background:#f9f9f9;
} */
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
	color:white;
}
.clone .fixed-side {
	border:1px solid #000;
	background:red;
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

thead tr th{
	background-color: #000066 !important;
	color: #fff;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
	width: 6px;
  } 
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }