#pointer {
    width: 200px;
    height: 140px;
    position: relative;
    background: red;
    float: left;
}

/* #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid white;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
} */

#pointer:before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid red;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}

p {
    color: white;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 30px;
}