.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}

button.accordion {
    width: 100%;
    padding: 12px 20px;
    font-size: 15px;
    text-align: left;
    border: none;
    outline: none;
    background: slateblue;
    cursor: pointer;
}

button.accordion:hover {
    background: slategrey;
}

.accordion-content {
    padding: 0 12px;
    border-left: 1px solid;
    border-right: 1px solid;
    max-height: 0;
    overflow: hidden;
}
